{% extends "party/home.html" %}
{% block body_block %}

<div class=row >
<div class='col-lg-4 content-center'></div>
<div class='col-lg-4 content-center'>
<div class='container'>
    <br>
    <br>
    <h1 id=headings style="align-self:center">welcome to PARTY.com</h1>
    <br>
    <br>
</div>
</div>
<div class='col-lg-4 content-center'></div>

</div>
<div id='exback'>
    <br>
    <br>
    <div class=container>
    <p id=aboutskrif> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, voluptas odio? Ex exercitationem, perspiciatis laudantium repudiandae unde, consequatur numquam vel ea itaque possimus dolores impedit ipsam dicta quibusdam eius a.</p>  
    <p id=aboutskrif> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, voluptas odio? Ex exercitationem, perspiciatis laudantium repudiandae unde, consequatur numquam vel ea itaque possimus dolores impedit ipsam dicta quibusdam eius a.</p>  
    <p id=aboutskrif> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, voluptas odio? Ex exercitationem, perspiciatis laudantium repudiandae unde, consequatur numquam vel ea itaque possimus dolores impedit ipsam dicta quibusdam eius a.</p>  
    <p id=aboutskrif> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, voluptas odio? Ex exercitationem, perspiciatis laudantium repudiandae unde, consequatur numquam vel ea itaque possimus dolores impedit ipsam dicta quibusdam eius a.</p>  
</div>
    <br>
    <br>

</div>
<div id=afterback>
 


</div>






{% endblock %}